@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* global css style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --sm: 15px;
  --md: 16px;
  --l: 18px;
  --xl: 30px;
  --xxl: 36px;
  --xxxl: 48px;
}
.container {
  max-width: 80vw;
  margin: 0 auto;
}
.btn {
  padding: 1vw 1.6vw;
  border-radius: 10px;
  background: #ff900e;
}
/* header section style starts here  */
.header-section {
  padding: 1.2vw;
  background: rgba(255, 144, 14, 0.1);
}
.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2vw;
}
.nav-section > h2 {
  font-weight: 700;
  font-size: var(--xl);
  color: #131313;
}
.nav-menu > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: var(--l);
  padding-left: 2.4vw;
}
.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding-top: 4.8vw;
}
.banner-details {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  text-align: center;
  width: 50%;
}
.banner-details > h1 {
  font-weight: 700;
  font-size: var(--xxxl);
  text-align: center;
  color: #131313;
}
.banner-details > p {
  font-weight: 400;
  font-size: var(--l);
  color: #727272;
}
.banner-btn > a {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--md);
  display: inline-block;
  text-align: center;
  color: #ffffff;
}
.banner-image {
  width: 100%;
  height: 80vh;
}
.banner-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* quick-list-feature section style starts here  */
.quick-list-feature {
  display: flex;
  align-items: center;
  gap: 4.4vw;
  padding: 5vw 3.4vw;
}
.quick-list-feature-image {
  flex: 1;
  display: grid;
  gap: 2.4vw;
  grid-template-columns: repeat(2, 1fr);
}
.quick-list-feature-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
.quick-list-feature-image > div {
  height: 33vh;
}
.quick-list-feature-image > div > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.quick-list-title-1 {
  font-weight: 500;
  font-size: var(--xxl);
  color: #727272;
}
.quick-list-title-2 {
  font-weight: 700;
  font-size: var(--xxl);
  color: #131313;
}
.quick-list-title-3 {
  font-weight: 700;
  font-size: var(--xxl);
  color: #ff900e;
}
.quick-list-feature-details > p {
  font-weight: 400;
  font-size: var(--l);
  color: #727272;
}
/* loved-feature style start here  */
.loved-feature {
  padding: 2vw;
  display: flex;
  gap: 3vw;
}
.loved-feature-info {
  flex: 1;
}
.loved-feature-image {
  position: relative;
  flex: 1;
}
.loved-feature-title > h2 {
  padding-left: 0.9vw;
  padding-bottom: 0.8vw;
  border-left: 0.4vw solid #ff900e;
  font-weight: 700;
  font-size: var(--xxl);
  color: #131313;
}
.loved-feature-title > p {
  font-weight: 400;
  font-size: var(--md);
  color: #727272;
  padding-bottom: 1vw;
}
.loved-feature-image > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.loved-feature-details {
  padding-left: 2vw;
}
.loved-feature-details > div {
  padding: 2vw 0;
}
.loved-feature-details > div > h3 {
  font-weight: 600;
  font-size: var(--l);
  color: #131313;
}
.loved-feature-details > div > p {
  font-weight: 400;
  font-size: var(--md);
  color: #727272;
}
.loved-feature-image-btn {
  position: absolute;
  z-index: 1;
  bottom: -2vw;
  left: -4.5vw;
}
.loved-feature-image-btn > h3 {
  font-weight: 700;
  font-size: var(--xxl);
  text-align: center;
  color: #ffffff;
}
.loved-feature-image-btn > p {
  font-weight: 500;
  font-size: var(--l);
  text-align: center;
  color: #ffffff;
}
/* facts style start here  */
.facts {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding: 5vw;
}
.facts-info > h3 {
  font-weight: 700;
  font-size: var(--xxl);
  color: #131313;
  padding-bottom: 0.8vw;
}
.facts-info > p {
  font-weight: 400;
  font-size: var(--l);
  color: #727272;
}
.facts-achievement {
  display: flex;
  justify-content: space-evenly;
}
.facts-achievement-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 14vw;
  height: 28.4vh;
}
.facts-achievement-box > h3 {
  font-weight: 600;
  font-size: var(--xl);
  color: #424242;
}
.facts-achievement-box > p {
  font-weight: 600;
  font-size: var(--l);
  color: #727272;
}
.facts-achievement-box:hover {
  transform: rotate(20deg);
  transition-duration: 1s;
}
/* sponsors section style starts here   */
.sponsors {
  padding: 2.4vw 0;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.sponsors-title {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  align-items: center;
  text-align: center;
}
.sponsors-title > h3 {
  font-size: var(--xxl);
  color: #131313;
}
.sponsors-title > p {
  font-weight: 400;
  font-size: var(--md);
  color: #727272;
}
.sponsors-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsors-company > img {
  width: 10vw;
}
/* contact-us style start here  */
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 3vw;
}
.contact-us > h2 {
  text-align: center;
  font-size: var(--xxl);
  color: #131313;
}
.contact-us-form {
  width: 60%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  row-gap: 1vw;
  column-gap: 3vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.contact-us-form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
}
.contact-us-form > div > label {
  font-size: var(--md);
  color: #424242;
}
.contact-us-form > div > input {
  width: 100%;
  height: 5vh;
  padding: 0.8vw;
  border: 0.12vw solid #727272;
}
.contact-us-form > div > input::placeholder {
  font-size: var(--md);
}
.contact-us-form > div > input:focus {
  outline: none;
}
.contact-us-form-message {
  grid-column: 2/3;
  grid-row: 1/-1;
}
.textarea {
  height: 26vh;
  padding: 1vw;
  resize: none;
  overflow: auto;
}
.textarea:focus {
  outline: none;
}
.contact-us-btn {
  display: flex;
  justify-content: center;
}
.contact-us-btn > a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
/* footer section style starts here  */
.footer-section {
  font-size: var(--sm);
  height: 10vh;
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* responsive style for tablets starts here  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .header-section {
    padding: 3.6vw;
  }
  .banner-details {
    width: 90%;
  }
  .banner-image {
    height: 40vh;
  }
  .quick-list-feature {
    flex-direction: column;
    padding: 5vw 0;
  }
  .quick-list-feature-image > div {
    height: 26vh;
  }
  .quick-list-feature-details {
    width: 60%;
    text-align: center;
  }
  .loved-feature {
    padding: 0;
  }
  .facts {
    /* padding: 5vw 0vw; */
  }
  .facts-achievement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3vw;
  }
  .facts-achievement-box {
    height: 16vh;
    width: 90%;
  }
  .contact-us {
    height: 30vh;
  }
  .contact-us-form {
    width: 100%;
    row-gap: 0vw;
    column-gap: 3vw;
  }
  .contact-us-form > div > input {
    height: 3vh;
  }
  .textarea {
    height: 12vh;
  }
}
/* responsive style for phone starts here  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  :root {
    --sm: 14px;
    --md: 15px;
    --l: 16px;
    --xl: 18px;
    --xxl: 30px;
    --xxxl: 36px;
  }
  .header-section {
    padding: 3.6vw;
  }
  .nav-menu > a {
    font-weight: 400;
    font-size: 10px;
    padding-left: 1.4vw;
  }
  .banner-details {
    width: 90%;
  }
  .banner-image {
    height: 40vh;
  }
  .quick-list-feature {
    flex-direction: column-reverse;
    padding: 5vw 0;
  }
  .quick-list-feature-image {
    display: flex;
    flex-direction: column;
  }
  .quick-list-feature-image > div {
    margin-bottom: var(--l);
    height: 26vh;
  }
  .quick-list-feature-details {
    width: 90%;
    text-align: center;
  }
  .loved-feature {
    flex-direction: column;
    padding: 0;
  }
  .loved-feature-image {
    height: 60vh;
  }
  .loved-feature-image-btn {
    bottom: 0.5vw;
    left: 0.5vw;
  }
  .facts-achievement {
    flex-direction: column;
    justify-content: space-between;
  }
  .facts-achievement-box {
    margin: 1vh auto;
    width: 80%;
    height: 18vh;
  }
  .facts-achievement-box > img {
    height: 3vh;
  }
  .sponsors-title {
    width: 100%;
  }
  .sponsors-company {
    flex-direction: column;
    gap: var(--xl);
  }
  .sponsors-company > img {
    width: 40%;
  }
  .contact-us {
    height: 30vh;
  }
  .contact-us-form {
    width: 100%;
    row-gap: 0vw;
    column-gap: 3vw;
    grid-template-columns: 1fr;
  }
  .contact-us-form > div > input {
    height: 2vh;
  }
  .contact-us-form > div > input::placeholder {
    font-size: 10px;
  }
  .textarea {
    height: 12vh;
  }
  .footer-section {
    font-size: 10px;
    text-align: center;
  }
}
